body{
    background-image: url(/image/my-image.jpeg);
    background-repeat: no-repeat;
    background-size: 100% ; 
    /* height: 100vh; */
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}








.container{
    text-align: center;
    margin-top: 100px;
    background: rgba(248, 244, 243, 0.6);

    /* opacity: 0.5; */
    padding: 20px;
}




i{
    font-size: 30px;
    border: 2px solid rgb(10, 10, 10);
    color: rgb(15, 15, 15);
    border-radius: 50%;
    transition: background 0.5s;
    padding: 10px;
    opacity: 1;
}
i:hover{
    border: 2px solid rgb(247, 20, 20);
    color: rgb(240, 85, 85);
    cursor: pointer;
}
#voiceInput{
    color: rgb(0, 68, 255);
    font-size: 30px;
}
#voiceOutput{
    color: rgb(3, 3, 3);
    font-size: 30px;
}
.myName{
    font-size: 32px;
    font-weight: 600;
    background: -webkit-linear-gradient(rgb(233, 12, 12), rgb(99, 94, 94));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
}
.assistant{
    border-bottom: 2px solid red;
    opacity: 1;
}

.copyright{
    margin-top: 400px;
    color: rgb(22, 22, 21);
    font-size: large;
    font-weight: 700;
    /* background-color: rgb(255, 255, 255); */
    background: rgba(248, 244, 243, 0.7);
    /* width: 30%;
    height: 20px; */
    padding: 5px;
    /* display: flex;*/
    justify-items: center; 
     align-items: center; 
     text-align: center; 
}
